model/yolov7/datasets
datasets/image/clean/*.dcm
datasets/image/miss/*.dcm
datasets/image/clean_png/*.png
datasets/image/miss_png/*.png
datasets/image/miss_preprocess_png/*.png
datasets/image/clean_preprocess_png/*.png
datasets/image/clean_png_test/*.png
datasets/image/miss_png_test/*.png
datasets/image/crop_png/*.png
datasets/image/test/*.png
datasets/image/ROI_training_png/*.png
datasets/image/MIAS
datasets/image/MIAS_png
datasets/image/INbreast
datasets/image/INbreast_png
datasets/label/train/*.txt
datasets/table/*.csv

websites/src/server/path_to_save_files
websites/src/server/runs
src/yolov7/weights/*.pt
src/yolov7/models/__pycache__
src/yolov7/utils/__pycache__
src/yolov7/__pycache__
*.pt